<h1>Add User</h1>

<p style="color:red;">@ViewBag.error</p>

<form method="post">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" value="@ViewBag.Username"/>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" value="@ViewBag.Email" />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" required />
    </div>
    <div class="form-group">
        <label for="verify">Verify password</label>
        <input name="verify" type="password" required />
    </div>
    <input type="submit" value="Add User" />
</form>
